.containSocial {
  background-color: white;
  width: 89%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 1rem;
  border-radius: 47px;


}
.socialMediaLogo {
  width: 24%;
  margin: 10px 10px;
}
@media screen and (min-width: 700px) {
  .containSocial {
    width: 76%;
    flex-direction: row-reverse;
    justify-content: space-between;

  }
  .socialMediaLogo {
    width: 24%;
    margin: 0px 10px;
  }
  .containLogo{
    width: 33%;
  }
}
